<h3 class="mb-3">Editar nota</h3>
<form ng-controller="NuevaNotaCtrl">
    <div class="form-group">
        <label for="tituloNuevo">Titulo</label>
        <input type="text" class="form-control" id="tituloNuevo" ng-model="tituloN" placeholder="Titulo" required>
    </div>
    <div class="form-group">
        <label for="notaNueva">Nota</label>
        <textarea class="form-control" id="notaNueva" rows="15" ng-model="notaN" placeholder="Nota..."
            required></textarea>
    </div>
    <div class="row d-flex justify-content-end">
        <a href="/" class="btn btn-danger mb-3">Cancelar</a>
        <a href="/" class="btn btn-primary mb-3 ml-3" ng-click="editarNota()">Guardar</a>
    </div>
</form>