<!-- INICIO -->
<div data-ng-controller="NotaControlador">
    <div class="mt-2" ng-show="!nota">
        <div>
            <div class="row d-flex justify-content-start">
                <h3><i class="fas fa-sticky-note fa-2x" style="color: #845ef7;"></i> Notas de {{ user.nombre }}</h3>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mb-3" ng-click="btnNuevaNota()">Agregar nota</button>
                <div data-ng-controller="loginControlador">
                    <button class="btn btn-outline-danger mb-3 mr-4 ml-1" ng-click="cerrarSesion()">Cerrar
                        Sesion</button>
                </div>
            </div>
        </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Titulo</th>
                    <th>Contenido</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="nota in notas">
                    <th >{{ nota.id }} </th>
                    <td>{{ nota.titulo }}</td>
                    <td>{{ nota.contenido }}</td>
                    <td>{{ nota.fecha | date:'dd/MM/yyyy'}}</td>
                    <td>
                            <div class="btn-group btn-group" role="group" aria-label="Basic example">
                        <button class="btn btn-warning btn" ng-click="editar(nota)"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger btn" ng-click="eliminar(nota)"><i class="fas fa-trash-alt"></i></button></td>
                    </div>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- INICIO FIN -->

    <!-- NUEVA NOTA -->
    <div ng-show="nota">
        <h3 class="mb-3">{{nota.id ? 'Actualizar':'Nueva'}} nota</h3>
        <form name="formNota" data-ng-submit="submitNota(formNota.$valid)" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="tituloNuevo">Titulo</label>
                <input type="text" class="form-control" id="tituloNuevo" ng-model="nota.titulo" placeholder="Titulo"
                    required>
            </div>
            <div class="form-group">
                <label for="fechaEdit">Fecha</label>
                <input class="form-control" type="date" ng-model="nota.fecha" id="fechaEdit" required>
            </div>
            <div class="form-group">
                <label for="notaNueva">Nota</label>
                <textarea class="form-control" id="notaNueva" rows="15" ng-model="nota.contenido" placeholder="Nota..."
                    required></textarea>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-danger mb-3" data-ng-click="cancelar()">Cancelar</button>
                <button type="submit" class="btn btn-primary mb-3 ml-3">{{nota.id ? 'Actualizar':'Guardar'}}
                </button>
            </div>
        </form>
    </div>
</div>
<!-- NUEVA NOTA FIN -->