<!-- INICIO -->
<div data-ng-controller="usuarioControlador">
    <div ng-show="!usuario">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Usuarios</h1>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-primary mb-3" ng-click="btnNuevoUsuario()">Agregar usuario</button>
            </div>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Usuario</th>
                    <th>Correo</th>
                    <!-- <th>Contraseña</th> -->
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usuario in usuarios">
                    <th>{{ usuario.id }}</th>
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.usuario }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>
                        <div class="btn-group btn-group" role="group" aria-label="Basic example">
                            <button class="btn btn-warning btn" ng-click="editarUser(usuario)"><i
                                    class="fas fa-edit"></i></button>
                            <button class="btn btn-danger btn" ng-click="eliminarUsuario(usuario)"><i
                                    class="fas fa-trash-alt"></i></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- INICIO FIN -->

    <!-- NUEVA usuario -->
    <div ng-show="usuario">
        <h3 class="mb-3">{{usuario.id ? 'Actualizar':'Nuevo'}} usuario</h3>
        <form name="formUser" data-ng-submit="submitUsuario(formUser.$valid)" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="nombreNuevo">Nombre</label>
                <input type="text" class="form-control" id="nombreNuevo" ng-model="usuario.nombre" placeholder="Nombre"
                    required>
            </div>
            <div class="form-group">
                <label for="usuarioNuevo">Usuario</label>
                <input type="text" class="form-control" id="usuarioNuevo" ng-model="usuario.usuario"
                    placeholder="Usuario" required>
            </div>
            <div class="form-group">
                <label for="correoNuevo">Correo</label>
                <input type="email" class="form-control" id="correoNuevo" ng-model="usuario.correo" placeholder="Correo"
                    required>
            </div>
            <div class="form-group">
                <label for="passNuevo">Contraseña</label>
                <input type="password" class="form-control" id="passNuevo" ng-model="usuario.password"
                    placeholder="Contraseña" required>
            </div>
            <div class="row d-flex justify-content-end">
                <button class="btn btn-danger mb-3" data-ng-click="cancelarU()">Cancelar</button>
                <button type="submit" class="btn btn-primary mb-3 ml-3">{{usuario.id ? 'Actualizar':'Guardar'}}
                </button>
            </div>
        </form>
    </div>
</div>
<!-- NUEVA NOTA FIN -->